/**
 * Colors to use 
 * 
 * h1, 46px
 * body , 16px
 * h2 22px
 * colors............
 * primary : #D7FE03
 * SECOND : #83AF3B
 * TRANS : #F5F5F8
 *
 * @format
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
}
:root {
  --primary: #0066cc;
  --secondary: #3399ff;
  --darkgreen: #33cc33;
  --lightgreen: #99ff99;
  --trans: #f5f5f8;
  --gredient: linear-gradient(to right, #0066cc, #3399ff);
  --gredient2: linear-gradient(to right, #33cc33, #146b14);
}
/* the header styling section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 2rem;
}
.logo img {
  height: 100px;
  cursor: pointer;
}
.icon {
  height: 28px;
  cursor: pointer;
}
.header-container {
  width: 100%;

  height: 90px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.notis {
  position: relative;
}
.notis-num {
  position: absolute;
  top: -5px;
  left: 80%;
  background-color: red;
  font-weight: 700;
  border-radius: 50%;
  padding: 0.1rem 0.2rem;
  font-size: 0.8rem;
  color: var(--trans);
}

/* main sectiion design */

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 2rem;
  background-color: var(--trans);
  height: 100vh;
}
.main {
  background-color: var(--trans);
}

/*  section1 greetings sectiion design */
.greetings {
  padding-block: 1rem;
}
.greeting {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
}
.userName {
  background: var(--gredient);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}
/*  section2  sectiion design */

.section2 {
  margin-block: 1rem;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: white;
    padding: 0.8rem;
    border-radius: 0.4rem; */
}
.icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.icons .icon {
  stroke: rgba(10, 2, 128, 0.897);
}
.icons {
  padding: 0.8rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--darkgreen);
  border-radius: 0.4rem;
  transition: all 0.4s linear;
}
.icons:hover {
  background-color: var(--lightgreen);
}
.icons:hover .icon-text {
  background: transparent;
}
.icon-text:hover {
  color: #333;
}
.icon-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  transition: all 0.4s linear;
}
.balance-wrapper {
  padding: 2rem;

  font-size: 2rem;
  font-weight: 600;
  border-radius: 0.4rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border: 1px solid var(--trans);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.balance {
  background: var(--gredient);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 800;
}
.balance-text {
  color: #333;
  font-size: 1.8rem;
}

/*  section3   design */
.section3 {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding-block: 2rem;
}
label {
  display: block;
  margin-left: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 16px;
  font-weight: 500;
  color: var(--trans);
}

.transaction,
.form-wrapper {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  background-color: var(--trans);
  border-radius: 1rem;
  border: 1px solid var(--trans);
}
.transaction {
  flex-basis: 65%;
}
.transactions-list {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border: 1px solid var(--trans);
}

.amount-desc {
  background: var(--gredient2);
  padding: 0.4rem;
  border-radius: 1.2rem;
  color: var(--trans);
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  display: block;
}

.minusText {
  background: radial-gradient(
    circle at 81.9% 53.5%,
    rgb(173, 53, 53) 16.3%,
    rgb(240, 60, 60) 100.2%
  );
  padding: 0.4rem;
  border-radius: 1.2rem;
  color: var(--trans);
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  display: block;
}
.amount {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(238, 56, 56) 0%,
    rgba(206, 21, 0, 0.92) 90.1%
  );
  padding: 0.4rem;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 1rem;
}
.minusAmount {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(238, 56, 56) 0%,
    rgba(206, 21, 0, 0.92) 90.1%
  );
  padding: 0.4rem;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 1rem;
}
#addedBalance {
  color: transparent;
  background: var(--gredient2);
  -webkit-background-clip: text;
}

#withdrawalForm {
  display: none;
}
.loan {
  display: none;
}
#transfer {
  display: ;
}
#depositForm {
  display: none ;
}
.text-desc {
  padding-block: 0.4rem;
  text-align: center;
  font-size: 1rem;
  color: #666;
}
.trans-heading {
  text-align: center;
  padding-block: 1.4rem;

  font-size: 1.8rem;
  color: #333;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-bottom: 2px solid var(--darkgreen);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.status {
  text-align: center;
  padding-block: 1rem;
  font-size: 2rem;
  color: #444;
  display: none;
}

.form-wrapper {
  padding: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.forms-item {
  padding: 1rem;
  background: var(--gredient);
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.form-heading {
  padding-block: 0.8rem;
  font-size: 1.2rem;
  background: var(--darkgreen);
  padding: 0.4rem;
  margin-block: 0.8rem;

  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  border-radius: 1rem;
  color: #222;
}
.amount-input,
textarea,
select,
.name {
  width: 100%;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  margin-block: 0.4rem;
  border: 2px solid #f0f0f0;
  outline: none;
  color: #777;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
textarea {
  resize: none;
}
.submit {
  background: var(--darkgreen);
  outline: none;
  border: none;
  height: 40px;
  width: 150px;
  font-size: 16px;
  color: var(--trans);
  font-weight: 500;
  letter-spacing: 0.2px;
  border-radius: 1.2rem;
  transition: all 0.3s linear;
  margin-left: 0.2rem;
}
.submit:hover {
  background-color: var(--lightgreen);
  color: #444;
  border: 1px solid var(--darkgreen);
  cursor: pointer;
}
.sucess {
  padding: 2rem;
  line-height: 1.6rem;
  font-size: 18px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 1rem;
  transition: all 0.4s linear;
  display: none;
}
.sucess .userName {
  padding: 0.2rem;
}
.Verify {
  padding-block: 0.8rem;
  display: block;
}
.sucessAmount {
  color: var(--darkgreen);
  font-weight: 600;
}
.close {
  background: var(--gredient2);
  padding: 0.4rem 1rem;
  margin-block: 1rem;
  display: inline-block;
  color: var(--trans);
  font-weight: 500;
  border-radius: 1.2rem;
  cursor: pointer;
}
.warn {
  background-color: var(--lightgreen);
  margin-block: 0.8rem;
  padding: 0.8rem;
  border-radius: 1rem;
  display: none;
}

.balances {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-block: 2rem;
  border-top: 2px solid var(--darkgreen);
}

.balance__item--text {
  font-size: 16px;
  font-weight: 600;
  color: #555;
}
.balance__item--amount {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(238, 56, 56) 0%,
    rgba(206, 21, 0, 0.92) 90.1%
  );
  padding: 0.4rem;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 1.2rem;
}
.balance-deposit {
  color: transparent;
  background: var(--gredient2);
  -webkit-background-clip: text;
}

.updateUi {
  display: none;
}

.login-wrapper {
  background-color: var(--trans);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-wrapper form {
  background: var(--gredient);
  padding: 5rem 2rem;
  width: 380px;
  border-radius: 1rem;
}

.loginInput {
  width: 100%;
  height: 35px;
  padding: 0rem 0.8rem;
  font-size: 16px;
  color: #000;
  background-color: var(--trans);
  border: none;
  outline: none;
  margin-block: 0.4rem;
  border-radius: 1rem;
  font-weight: 500;
  color: #666;
}
.loginSubmint {
  width: 70%;
  margin-block: 1rem;
  height: 38px;
  outline: none;
  padding: 0 0.4rem;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 1.2rem;
  font-weight: 500;
  background: var(--darkgreen);
  color: var(--trans);
}
.loginBtn {
  display: flex;
  justify-content: center;
}
.login-wrapper h2 {
  margin-bottom: 2rem;
  font-size: 30px;
  color: #555;
}
